[Unit]
Description=Dragonfly’s P2P download daemon
Documentation=https://github.com/dragonflyoss/client
After=network-online.target
After=network.target

[Service]
ExecStart=/usr/bin/dfdaemon --config /etc/dragonfly/dfdaemon.yaml

Type=simple
Environment=HOME=/root

Restart=always
RestartSec=5

# Limit CPU usage to 1 CPU core
CPUQuota=100%

# Limiting CPU Consumption of a Unit
CPUWeight=400

# Limit Memory usage to 4G, beyond that the process will be OOM killed
MemoryLimit=4G

[Install]
WantedBy=multi-user.target
